@model Project1.Models.SearchResultModel

<h2>Rezultati pretrage za upit @Model.SearchValueText</h2>

    <table style="border:2px solid black;">
        <thead>
            <tr>
            <th>#</th>
            <th>Naziv</th>
            @if (Model.rank.Count() > 0)
            {
                <th>
                    Rank
                </th>
            }
            </tr>
        </thead>
@{  for (var i = 0; i < Model.SearchResult.Count(); i++)
    {
        <tr>
            <td>@(i+1)</td>
            <td>
            @{
                string[] text = Model.SearchResult[i].ToString().Split(' ');
                foreach (var item in text)
                {
                    string value="";
                    value=item.Replace("<b>","");
                    value=value.Replace("</b>","");
                    value+=" ";
                    if (item.Length>=3 && item.Substring(0,3).Equals("<b>")) 
                    {
                        @:<text style="font-weight:bold;">@value</text>
                    }
                    else
                    {
                        @value
                    }
                }
            }
            </td>
            @if (@Model.rank.Count()>0)
            {
                <td>
                    @Model.rank[i].ToString()
                </td>
            }
        </tr>
    }
}
    </table>
